body {
  background-color: rgba(147, 190, 236, 0.5);
  min-height: 100vh;
  height: auto;
  color: black;
}

.section {
  padding: 1rem 1.5rem;
  max-width: 750px;
  margin: auto;
}
.login-icon {
  margin-right: 30px;
}
.title {
  font-weight: 800;
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}

.is-sparta {
  color: RGB(147, 190, 236);
}

.entrance-btn {
  color: white;
  border: none;
}
.button.is-sparta {
  background-color: RGB(147, 190, 236);
  border-color: transparent;
  color: #fff;
}

.button.is-sparta.is-outlined {
  background-color: transparent;
  border-color: RGB(147, 190, 236);
  color: RGB(147, 190, 236);
}
.index-content {
  font-size: 15px;
  width: 200px;
  color: black;
}

.help {
  color: gray;
}
.box-text {
  color: RGB(147, 190, 236);
}

a {
  font-size: 18px;
}

.navbar-logo {
  font-size: 50px;
  margin: 0 20px;
  color: RGB(147, 190, 236);
}
.logout {
  background-color: rgba(147, 190, 235, 0.3);
}
.panel {
  background-color: white;
}
.panel-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-image {
  width: 250px;
  height: 250px;
  background-color: beige;
  margin: 0;
  padding: 0;
}

.card-wrap {
  margin: 40px 0px 30px 35px;
  padding: 0;
  background-color: white;
  border-radius: 10px;
}

.card-content {
  margin: 0;
  padding: 10px;
  width: 250px;
}

.card {
  margin: 60px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: rgba(147, 190, 235, 0.8);
  height: auto;
  border-radius: 10px;
}

.index-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.index-title {
  width: 230px;
  margin-top: 10px;
}
.title {
  color: RGB(147, 190, 236);
}
.chall-desc {
  width: 230px;
}
.detail-title {
  display: flex;
  width: 100%;
}
.detail-div {
  display: flex;
  flex-direction: column;
}
.detail-img {
  width: 400px;
  height: 400px;
  margin: 50px;
  margin-left: 100px;
  border: 5px white solid;
  border-radius: 20px;
}
.detail-desc {
  margin: 50px;
  padding-left: 50px;
  font-size: 20px;
}
.detail-people {
  margin: 40px;
  font-size: 20px;
  padding-top: 140px;
}
.detail-div h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}
.detail-div p {
  margin: 10px;
}
#shot_challenge {
  margin: 100px;
}
.entrance-btn {
  color: black;
}
.modal-content {
    width: 400px;
    height: 400px;
}
