<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr. Challenge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
            rel="stylesheet"
            href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script
            src="https://kit.fontawesome.com/8c9eb7dad1.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/style.css?after1" type="text/css"/>
</head>
<script>


    function shot_report() {
        alert(`'{{ title }}'에 정말 참가하시겠습니까?'`);

        $("#shot_challenge").toggleClass("is-hidden");
        $("#btn-hide").hide();

        let profile_chall = '{{ title }}'       //클릭했을때
        let today = new Date().toISOString()    //날짜정보

        $.ajax({
            type: "post",
            url: "/my_chall",
            data: {
                profile_chall_give: profile_chall,
                date_give: today
            },
            success: function (response) {
                console.log(response);
            },
        });
    }

    function post() {
        let comment = $("#chall_text").val()
        let today = new Date()
        let current = today.toISOString()

        let year = today.getFullYear()
        let month = today.getMonth()
        let date = today.getDate();
        let day = today.getDay()
        let hours = today.getHours()

        if (comment == "") {
            alert("인증글을 남겨주세요");
            return;
        }
        let html_temp = `<br><span>${year}.${month}.${date}.${day}.${hours}  ${comment}</span>`;
        $("#mychall").append(html_temp);
        $.ajax({
            type: "POST",
            url: "/posting",
            data: {
                comment_give: comment,
                date_give: current
            },
            success: function (response) {

            }
        })
    }


    function sign_out() {
        $.removeCookie("mytoken", {path: "/"});
        alert("로그아웃!");
        window.location.href = "/login";
    }
</script>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-logo" href="#">
            <i class="fas fa-user-md"></i>

        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <p
                        style="
                font-size: 40px;
                font-weight: 700;
                color: RGB(147, 190, 236);
              "
                >
                    Dr. CHALLENGE
                </p>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button logout" onclick="sign_out()">
                    <strong>Logout</strong>
                </a>
            </div>
        </div>
    </div>
</nav>
{% if title in user_challenges %}
<div class="card detail-div">
    <div class="detail-title">
        <figure>
            <img src="{{ img }}" alt="Placeholder image" class="detail-img"/>
        </figure>
        <div class="title-text detail-people">
            <h1>{{ title }}</h1>
            <p>공식 챌린지</p>
            <p>참가 인원 : 00 명</p>
            <div>
                <button class="button is-danger">
                    챌린지 참가 중
                </button>
            </div>
        </div>
    </div>
</div>
<div class="detail-desc">
    <br>
    <h1>챌린지 설명</h1>
    <div class="content" id="mychall">{{ desc }}</div>
</div>
<div class="shot" id="shot_challenge">
    <h1>챌린지 인증하기</h1>
    <button class="button is-primary" onclick="post()">등록</button>
    <textarea
            id="chall_text"
            class="textarea is-primary"
            placeholder="챌린지 인증글을 남겨주세요"
    ></textarea>
</div>

</div>
{% else %}
<div class="card detail-div">
    <div class="detail-title">
        <figure>
            <img src="{{ img }}" alt="Placeholder image" class="detail-img"/>
        </figure>
        <div class="title-text detail-people">
            <h1>{{ title }}</h1>
            <p>공식 챌린지</p>
            <p>참가 인원 : 00 명</p>
            <div id="btn-hide">
                <button onclick="shot_report()" class="button entrance-btn">
                    참가하기
                </button>
            </div>
        </div>
    </div>
    <div class="detail-desc">
        <h1>챌린지 설명</h1>
        <div class="content" id="mychall">{{ desc }}</div>
    </div>

    <div class="shot is-hidden" id="shot_challenge">
        <h1>챌린지 인증하기</h1>
        <button class="button is-primary" onclick="post()">등록</button>
        <textarea
                id="chall_text"
                class="textarea is-primary"
                placeholder="챌린지 인증글을 남겨주세요"
        ></textarea>
    </div>
</div>

{% endif %}
</body>
</html>
