<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-logo" href="#">
            <img src="/challenge.jpg" width="112" height="120">
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                <p style="font-size: 30px; font-weight: bolder; color: darkblue;">Dr. CHALLENGE</p>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <p class="control has-icons-right  ">
                    <input class="input" placeholder="Search">
                    <span class="icon is-small is-right">
                    </span>
                </p>

                <div class="buttons">
                    <a style="margin-left: 30px" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="panel">
    <p class="panel-tabs">
        <a class="is-active">전체</a>
        <a>다이어트</a>
        <a>운동</a>
        <a>공부</a>
        <a>독서</a>
        <a>돈관리</a>
        <a>취미</a>
        <a>생활습관</a>
        <a>돌봄</a>
    </p>
</nav>
<div class="box">
    <p class="box-text">작심삼일은 이제그만!</p>
</div>
</body>