<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr. Challenge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script
			src="https://kit.fontawesome.com/8c9eb7dad1.js"
			crossorigin="anonymous"
		></script>
</head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-logo" href="#">
            <i class="fas fa-user-md"></i>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                <p style="font-size: 40px; font-weight: 700; color: RGB(147, 190, 236);">Dr. CHALLENGE</p>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <p class="control has-icons-right  ">
                    <input class="input" placeholder="Search">
                    <span class="icon is-small is-right">
                    </span>
                </p>

                <div class="buttons">
                    <a style="margin-left: 30px" class="button logout">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="panel">
    <p class="panel-tabs">
        <a class="is-active">전체</a>
        <a>다이어트</a>
        <a>운동</a>
        <a>공부</a>
        <a>독서</a>
        <a>취미</a>
        <a>생활습관</a>
    </p>

</nav>
<div class="card">
    <div class="card-wrap">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="#" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">(이벤트)-운동하기</p>
                    <p class="subtitle is-6">성공하자!</p>
                </div>
            </div>
            <div class="content">
                간단설명: 스트레칭하기
                <p><a href="#">상세페이지 가기</a></p>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="#" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">(이벤트)-운동하기</p>
                    <p class="subtitle is-6">성공하자!</p>
                </div>
            </div>
            <div class="content">
                간단설명: 스트레칭하기
                <p><a href="#">상세페이지 가기</a></p>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="#" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">(이벤트)-운동하기</p>
                    <p class="subtitle is-6">성공하자!</p>
                </div>
            </div>
            <div class="content">
                간단설명: 스트레칭하기
                <p></p><a href="#">상세페이지 가기</a></p>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="#" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">(이벤트)-운동하기</p>
                    <p class="subtitle is-6">성공하자!</p>
                </div>
            </div>
            <div class="content">
                간단설명: 스트레칭하기
                <p><a href="#">상세페이지 가기</a></p>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="#" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">(이벤트)-운동하기</p>
                    <p class="subtitle is-6">성공하자!</p>
                </div>
            </div>
            <div class="content">
                간단설명: 스트레칭하기
                <p><a href="#">상세페이지 가기</a></p>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>

</div>
</body>
</html>