<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dr. Challenge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-logo" href="#">
          <img src="/challenge.jpg" width="112" height="120" />
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            <p style="font-size: 30px; font-weight: bolder; color: darkblue">
              Dr. CHALLENGE
            </p>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <p class="control has-icons-right">
              <input class="input" placeholder="Search" />
              <span class="icon is-small is-right"> </span>
            </p>
          </div>
        </div>
      </div>
    </nav>
    <div class="wrap">
      <div class="banner" onclick="window.location.href = '/'"></div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between align-items-end">
        <div>
          <h1 id="word" style="display: inline">owl</h1>
          <h5 id="pronunciation" style="display: inline">/oul/</h5>
        </div>
        <button id="btn-save" class="btn btn-outline-sparta btn-lg">
          save
        </button>
        <button id="btn-delete" class="btn btn-sparta btn-lg">delete</button>
      </div>
      <hr />
      <div id="definitions">
        <div style="padding: 10px">
          <i>noun</i>
          <br />a nocturnal bird of prey with large eyes, a facial disc, a
          hooked beak, and typically a loud hooting call.<br />
          <span class="example"
            >I love reaching out into that absolute silence, when you can hear
            the owl or the wind.</span
          >
        </div>
      </div>
    </div>
  </body>
</html>
