<div class="shot" id="shot_challenge">
  <h1>챌린지 인증하기</h1>
  <button class="button is-primary" onclick="post()">등록</button>
  <textarea id="chall_text" class="textarea is-primary" placeholder="챌린지 인증글을 남겨주세요"></textarea>
  <table class="table is-striped is-narrow is-bordered ">
    <thead>
      <h1> 챌린지 인증</h1>
    </thead>
    {% set profile_pics = namespace(name='') %}
    {% for comment in comments %}
    {% for user in users.rewind() %}
    {% if user.username == comment.username %}
    {% set profile_pics.name = user.profile_pic_real %}
    {% endif %}
    {% endfor %}
    <tr>
      <td>
        <img class="is-rounded" src="{{ url_for('static', filename = profile_pics.name) }}"
          style="width: 50px; height:50px;border-radius:30% ">


        <span style="font-size: 25px; font-weight: bold">{{comment.username}}</span>
        <span style="font-size: 25px">{{comment.comment}}</span>
      </td>
    </tr>
    {% endfor %}